.result-display {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FED240;
  /* 立体的なテキストと影の演出 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* ポップインのアニメーション */
  animation: popIn 1s ease-out, shine 2s infinite;
  margin-top: 20px;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    text-shadow: 2px 2px 4px rgba(207, 199, 99, 0.8);
  }
  50% {
    text-shadow: 2px 2px 8px rgba(207, 199, 99, 1);
  }
  100% {
    text-shadow: 2px 2px 4px rgba(207, 199, 99, 0.8);
  }
}
